.blog-tab
  h4
    font-family: 'uni0553'
    text-transform: uppercase
    font-size: 1.35rem
    color: #4e2574
    i
      font-size: 22px
      color: #aea8d3
  hr
    display: block
    height: 1px
    border: 0
    border-top: 1px solid #ccc
    margin: 5px 0px 15px 0px
    padding: 0
  .blog-more
    position: absolute
    font-size: 1em
    font-weight: 900
    text-transform: uppercase
    right: 0
    bottom: 0
    z-index: 10
    @media (max-width: 500px)
      right: 0
      bottom: -1.15em
      font-size: 1.25em
      a
        color: #fff
  .list .view
    width: 100 / 3 + %
    font-size: .7em
    @media (max-width: 400px)
      width: 50%
  .list .view-first .mask .post-date
    font-size: 10px
    color: #e0e0e0
    font-style: italic
    padding: 5px 0px 0px 0px
