.contact-tab
  font-size: 1.1em
  @media (max-width: 400px)
    font-size: 1em
  h3
    font-family: 'uni0553'
    text-transform: uppercase
    font-size: 1.35rem
    color: #4e2574
  p
    i
      font-size: 1em
    font-size: 1em
    line-height: 1.5
  hr
    display: block
    height: 1px
    border: 0
    border-top: 1px solid #ccc
    margin: 5px 0px
    padding: 0
  .contact-wrap
    margin-bottom: 2.5em

  .icon-wrap
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    a
      font-size: 4em
      color: rgba(0,0,0,0.3)
      margin: 0.4em 0.15em 0
      overflow: visible
      display: flex
      flex-direction: column
      align-items: center
      transition: all 200ms ease-in-out
      &:hover
        color: #4e2574
