.home-tab
  .head
    font-family: "Press Start 2P"
    font-size: 1.5rem
    color: #4e2574
    text-align: center
    margin-bottom: 5px
  .subhead
    font-family: "munro_small"
    font-size: 1.37rem
    color: #aea8d3
    text-align: center
  hr
    display: block
    height: 1px
    border: 0
    border-top: 1px solid #ccc
    margin: 0.75rem 0
    padding: 0
  p
    font-family: "munroregular"
    font-size: 1.03rem
    color: #666
    margin-bottom: 0.7rem
    span
      text-decoration: line-through
      color: #bbb
    em
      font-style: normal
      font-weight: 600
      color: crimson
  #quotes
    color: #aaa
    text-align: center
    font-size: 0.85rem
  .shrooms
    width: 90px
    height: 25px
    margin: 15px auto 15px
    display: flex
    align-items: center
    justify-content: center
    img
      width: 20px
      margin: 0 auto
      opacity: 0.5
      cursor: pointer
      -webkit-transition: all 400ms ease
      -moz-transition: all 400ms ease
      -o-transition: all 400ms ease
      -ms-transition: all 400ms ease
      transition: all 400ms ease
      &:hover
        opacity: 1.0
