<div class="sidebar">
  <div class="avatar"><img id="avatar-img" src="/assets/img/avatar.jpg"></div>
  <ul class="navbar" id="myTab">
    <a href="#home">
      <li class="item active" data-tab="home-tab">Home</li>
    </a>
    <a href="#blog">
      <li class="item" data-tab="blog-tab">Blog</li>
    </a>
    <a href="#profile">
      <li class="item" data-tab="profile-tab">Resume</li>
    </a>
    <a href="#portfolio">
      <li class="item" data-tab="portfolio-tab">Portfolio</li>
    </a>
    <a href="#playground">
      <li class="item" data-tab="playground-tab">Playground</li>
    </a>
    <a href="#contact">
      <li class="item" data-tab="contact-tab">Contact</li>
    </a>
  </ul>
</div>
