<div class="sidebar">
  <div class="avatar"><img id="avatar-img" src="/img/avatar.jpg"></div>
  <ul class="navbar" id="myTab">
    <a href="#home">
      <li class="item active">Home</li>
    </a>
    <a href="#blog">
      <li class="item">Blog</li>
    </a>
    <a href="#profile">
      <li class="item">Profile</li>
    </a>
    <a href="#portfolio">
      <li class="item">Portfolio</li>
    </a>
    <a href="#playground">
      <li class="item">Playground</li>
    </a>
    <a href="#contact">
      <li class="item">Contact</li>
    </a>
  </ul>
</div>
