<div class="tab-pane home-tab active" id="home">
  <div class="heading">
    <h1 class="head">Hussain Abbas</h1>
    <h3 class="subhead">Front-End Engineer + Architect</h3>
    <hr>
  </div>
  <div class="body">
    <p>Howdy friend, my name is <strong>Hussain Abbas</strong>. I’m a front-end engineer with a <em>burning</em> passion to create beautiful, easy to use and performant experiences.</p>

    <p>I specialize in <strong>front-end architecture</strong> where I piece together systems that anchor <strong>leaner</strong>, more <strong>performant</strong>, and <strong>scalable</strong> products.</p>

    <p>Like what you see? <a href="mailto:howdy@hussainabbas.com" target="_blank"><span data-title="howdy@hussainabbas.com">Say hello! &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></a></p>
  </div>
</div>
