<div class="tab-pane playground-tab" id="playground">
  <h4><i class="fa fa-gamepad"></i> Playground</h4>
  <hr>
  <div class="list">
    <div class="view view-first">
      <a href="http://hussainabbas.com/flapemon">
      <img src="img/flap.png" />
      <div class="mask">
        <h2>flapemon</h2>
        <p>Flappy Bird alternative based using Pokémon characters.</p>
      </div>
      </a>
    </div>
    <div class="view view-first">
      <a href="http://hussainabbas.com/w00t">
      <img src="img/w00t.png" />
      <div class="mask">
        <h2>w00t w00t</h2>
        <p>Two words... DANCE PARTY!!</p>
      </div>
      </a>
    </div>
    <div class="view view-first">
      <a href="http://transzap.me">
      <img src="img/transzap.png" />
      <div class="mask">
        <h2>Trans(zap).me</h2>
        <p>Ever wanted to teleport to anywhere in the world? Well now you can!</p>
      </div>
      </a>
    </div>
    <div class="view view-first">
      <a href="http://uiabcdefghjklmnopqrstvw.xyz/">
      <img src="img/uandi.png" />
      <div class="mask">
        <h2>U and I</h2>
        <p>If I could rearrange the alphabet I'd put U and I together!</p>
      </div>
      </a>
    </div>
  </div>
</div>
