<div class="tab-pane home-tab active" id="home">
  <h1 class="head">Hussain Abbas</h1>
  <h3 class="subhead">Dabbler of Everything Technology</h3>

  <hr>

  <p>Hello, my name is Hussain Abbas. I am a curious university student with a <em>burning</em> passion for technology!</p>

  <p>I dabble in hardware, software and design. The problem with me is that I cannot focus on one particular area of interest at one time. Within the average day, I go from developing an app to designing a website and by the end of the day, I have cables and computer parts all over the place. If you wish to learn a little bit more about the circuitry that makes up the one known as Hussain, click on one of the other tabs on this page.</p>

  <hr>

  <div id="quotes"></div>
  <div class="shrooms">
    <img src="img/shroomgreen.png" id="shroomPrev">
    <img src="img/shroomred.png" id="shroomRand">
    <img src="img/shroomgreen.png" id="shroomNext">
  </div>
</div>
