<div class="tab-pane playground-tab" id="playground">
  <div class="heading">
    <h4><i class="fa fa-gamepad"></i> Playground</h4>
    <hr>
  </div>
  <div class="list">
    <!-- <div class="view view-first">
      <a href="http://codepen.io/superhussain/pen/NpzJNJ">
      <img src="assets/img/meettheteam.png" />
      <div class="mask">
        <h2>Meet The Team</h2>
        <p>A fun "Meet the Team" concept of an About page. Use emojis to describe your employees! 😜</p>
      </div>
      </a>
    </div> -->
    <div class="view view-first">
      <a href="http://codepen.io/superhussain/pen/OXwEQZ">
      <img src="assets/img/pokeball.png" />
      <div class="mask">
        <h2>CSS Poke Balls</h2>
        <p>Just some wiggling Poke Balls built completely with CSS. Toggle between your favorite balls!</p>
      </div>
      </a>
    </div>
    <!-- <div class="view view-first">
      <a href="https://www.hussainabbas.com/keyhole-twitter">
      <img src="assets/img/twittersearch.png" />
      <div class="mask">
        <h2>Twitter Search</h2>
        <p>Simple AngularJS application consuming Twitter API to display tweets by your desired keyword.</p>
      </div>
      </a>
    </div> -->
    <div class="view view-first">
      <a href="http://hussainabbas.com/pi-day">
      <img src="assets/img/pi-day.png" />
      <div class="mask">
        <h2>Pi Day!</h2>
        <p>Just a fun little site to wish you a happy pi day and read you the number pi!</p>
      </div>
      </a>
    </div>
    <!-- <div class="view view-first">
      <a href="http://hussainabbas.com/vday">
      <img src="assets/img/vday.png" />
      <div class="mask">
        <h2>Valentines Day Surprise!</h2>
        <p>Customized valentines day messages for Hussain's special someones!</p>
      </div>
      </a>
    </div> -->
    <!-- <div class="view view-first">
      <a href="https://www.hussainabbas.com/switchvr">
      <img src="assets/img/switchvr.png" />
      <div class="mask">
        <h2>SwitchVR</h2>
        <p>A cool tap-tap style game built for the Oculus Rift and Leap Motion.</p>
      </div>
      </a>
    </div> -->
    <!-- <div class="view view-first">
      <a href="http://hussainabbas.com/w00t">
      <img src="assets/img/w00t.png" />
      <div class="mask">
        <h2>w00t w00t</h2>
        <p>Two words... DANCE PARTY!!</p>
      </div>
      </a>
    </div> -->
    <!-- <div class="view view-first">
      <a href="http://uiabcdefghjklmnopqrstvw.xyz/">
      <img src="assets/img/uandi.png" />
      <div class="mask">
        <h2>U and I</h2>
        <p>If I could rearrange the alphabet I'd put U and I together!</p>
      </div>
      </a>
    </div> -->
    <div class="view view-first">
      <a href="https://preact-redux-starter.netlify.com/">
      <img src="assets/img/preact-redux-starter.png" />
      <div class="mask">
        <h2>Preact Redux Starter</h2>
        <p>An ultra-lightweight starter project with Preact, Redux, a persistent data store, in-app routing all built as a progressive web app.</p>
      </div>
      </a>
    </div>
    <div class="view view-first">
      <a href="http://hussainabbas.com/flapemon">
      <img src="assets/img/flap.png" />
      <div class="mask">
        <h2>flapemon</h2>
        <p>Flappy Bird alternative based using Pokemon characters.</p>
      </div>
      </a>
    </div>
  </div>
</div>
