<div class="tab-pane playground-tab" id="playground">
  <h4><i class="fa fa-gamepad"></i> Playground</h4>
  <hr>
  <div class="row">
    <div class="view view-first">
      <img src="img/flap.png" />
      <div class="mask">
        <h2>flapemon</h2>
        <p>Flappy Bird alternative based using Pokémon characters.</p>
        <a href="http://hussainabbas.com/flapemon" target="_blank" class="info">Visit Site</a>
      </div>
    </div>
    <div class="view view-first">
      <img src="img/w00t.png" />
      <div class="mask">
        <h2>w00t w00t</h2>
        <p>Two words... DANCE PARTY!!</p>
        <a href="http://hussainabbas.com/w00t" target="_blank" class="info">Visit Site</a>
      </div>
    </div>
  </div>
</div>
