<div class="tab-pane contact-tab" id="contact">
  <div class="contact-wrap">
    <h3>Contact Information</h3>
    <hr>
    <p><i class="fa fa-globe"></i> <a href="http://hussainabbas.com" target="_blank"><span data-title="www.hussainabbas.com">www.hussainabbas.com</span></a></p>
    <p><i class="fa fa-envelope"></i> <a href="mailto:hussain@hussainabbas.com" target="_blank"><span data-title="hussain@hussainabbas.com">hussain@hussainabbas.com</span></a></p>
  </div>
  <div class="social-wrap">
    <h3>Social Links</h3>
    <hr>
    <div class="col">
      <p><i class="fa fa-facebook-square"></i> <a href="http://facebook.com/super45hussain" target="_blank"><span data-title="Hussain Abbas">Hussain Abbas</span></a></p>
      <p><i class="fa fa-twitter-square"></i> <a href="http://twitter.com/hussainabbas_" target="_blank"><span data-title="hussainabbas_">hussainabbas_</span></a></p>
      <p><i class="fa fa-instagram"></i> <a href="http://instagram.com/hussainabbas_" target="_blank"><span data-title="hussainabbas_">hussainabbas_</span></a></p>
      <p><i class="fa fa-google-plus-square"></i> <a href="https://plus.google.com/110063941791369492554" target="_blank"><span data-title="Hussain Abbas">Hussain Abbas</span></a></p>
      <p><i class="fa fa-skype"></i> <a href="skype:super_hussain?action" target="_blank"><span data-title="Super_Hussain">Super_Hussain</span></a></p>
    </div>
    <div class="col">

      <p><i class="fa fa-linkedin-square"></i> <a href="https://ca.linkedin.com/in/superhussain" target="_blank"><span data-title="Hussain Abbas">Hussain Abbas</span></a></p>
      <p><i class="fa fa-github"></i> <a href="https://github.com/superhussain" target="_blank"><span data-title="superhussain">superhussain</span></a></p>
      <p><i class="fa fa-dribbble"></i> <a href="https://dribbble.com/hussainabbas" target="_blank"><span data-title="hussainabbas">hussainabbas</span></a></p>
      <p><i class="fa fa-behance"></i> <a href="https://www.behance.net/superhussain" target="_blank"><span data-title="superhussain">superhussain</span></a></p>
    </div>
  </div>
</div>
