<div class="tab-pane home-tab active" id="home">
  <h1 class="head">Hussain Abbas</h1>
  <h3 class="subhead">Dabbler of Everything Technology</h3>
  <hr>
  <p>Howdy friend, my name is Hussain. I am a university <strike>student</strike> <strong>dropout</strong> with a <em>burning</em> passion for technology!</p>
  <p>Why did I drop out? Well, university courses were too slow for my appetite, so I left school and got myself a solid foundation in design and development. Now I'm looking to satisfy my hunger by taking on exciting projects!</p>
  <p>Like what you see? <a href="mailto:howdy@hussainabbas.com" target="_blank"><span data-title="howdy@hussainabbas.com">Say hello! &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></a></p>
  <hr>
  <div id="quotes"></div>
  <div class="shrooms">
    <img src="assets/img/shroomgreen.png" id="shroomPrev">
    <img src="assets/img/shroomred.png" id="shroomRand">
    <img src="assets/img/shroomgreen.png" id="shroomNext">
  </div>
</div>
