<div class="tab-pane portfolio-tab" id="portfolio">
  <h4><i class="fa fa-briefcase"></i> Portfolio</h4>
  <hr>
  <div class="row">
    <div class="view view-first">
      <img src="img/apt.png" />
      <div class="mask">
        <h2>A+ Toners.com</h2>
        <p>E-commerce site for buying printer cartridges.</p>
        <a href="http://aplustoners.com" target="_blank" class="info">Visit Site</a>
      </div>
    </div>
    <div class="view view-first">
      <img src="img/plex.png" />
      <div class="mask">
        <h2>Employee Directory</h2>
        <p>Staff directory built using Topcoat and Backbonejs.</p>
        <a href="http://hussainabbas.com/plexxis" target="_blank" class="info">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="view view-first">
      <img src="img/b0.png" />
      <div class="mask">
        <h2>Bl4ck0ut Project</h2>
        <p>Custom firmware for older iDevices to bring back speed and functionality.</p>
        <a href="http://bl4ck0ut.com" target="_blank" class="info">Visit Site</a>
      </div>
    </div>
    <div class="view view-first">
      <img src="img/tma.png" />
      <div class="mask">
        <h2>TMA @ YorkU</h2>
        <p>Student Group Website designed on WordPress.</p>
        <a href="http://yorku.thaqalayn.org" target="_blank" class="info">Visit Site</a>
      </div>
    </div>
  </div>

</div>
