<div class="tab-pane portfolio-tab" id="portfolio">
  <h4><i class="fa fa-briefcase"></i> Portfolio</h4>
  <hr>
  <div class="list">
    <div class="view view-first">
      <a href="http://nothinbutchange.com">
      <img src="assets/img/nothinbutchange.png" />
      <div class="mask">
        <h2>Nothin' but Change</h2>
        <p>Homelessness awareness organization started by three students.</p>
      </div>
      </a>
    </div>
    <div class="view view-first">
      <a href="http://akflorals.com">
      <img src="assets/img/akflorals.png" />
      <div class="mask">
        <h2>Amazing Kreations</h2>
        <p>From stunning bouquets and boutonnieres to elegant house decor and reception centrepieces.</p>
      </div>
      </a>
    </div>
    <div class="view view-first">
      <a href="http://arios.ca">
      <img src="assets/img/arios.png" />
      <div class="mask">
        <h2>Arios YouTube Network</h2>
        <p>YouTube Network created for YouTubers, by YouTubers.</p>
      </div>
      </a>
    </div>
    <div class="view view-first">
      <a href="http://aplustoners.com">
      <img src="assets/img/apt.png" />
      <div class="mask">
        <h2>A+ Toners.com</h2>
        <p>E-commerce site for buying printer cartridges.</p>
      </div>
      </a>
    </div>
    <div class="view view-first">
      <a href="http://hussainabbas.com/plexxis">
      <img src="assets/img/plex.png" />
      <div class="mask">
        <h2>Employee Directory</h2>
        <p>Staff directory built using Topcoat and Backbonejs.</p>
      </div>
      </a>
    </div>
    <div class="view view-first">
      <a href="http://bl4ck0ut.com">
      <img src="assets/img/b0.png" />
      <div class="mask">
        <h2>Bl4ck0ut Project</h2>
        <p>Custom firmware for older iDevices to bring back speed and functionality.</p>
      </div>
      </a>
    </div>
    <div class="view view-first">
      <a href="http://yorku.thaqalayn.org">
      <img src="assets/img/tma.png" />
      <div class="mask">
        <h2>TMA @ YorkU</h2>
        <p>Student Group Website designed on WordPress.</p>
      </div>
      </a>
    </div>
  </div>

</div>
