<div class="tab-pane contact-tab" id="contact">
  <div class="contact-wrap">
    <h3>Contact Information</h3>
    <hr>
    <p><i class="fa fa-globe"></i> <a href="http://hussainabbas.com" target="_blank"><span data-title="www.hussainabbas.com">www.hussainabbas.com</span></a></p>
    <p><i class="fa fa-envelope"></i> <a href="mailto:howdy@hussainabbas.com" target="_blank"><span data-title="howdy@hussainabbas.com">howdy@hussainabbas.com</span></a></p>
  </div>
  <div class="social-wrap">
    <h3>Social Links</h3>
    <hr>

    <div class="icon-wrap">
      <a class="fa fa-facebook-square" href="http://facebook.com/super45hussain"></a>
      <a class="fa fa-twitter-square" href="http://twitter.com/superhussain"></a>
      <a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/superhussain"></a>
      <a class="fa fa-github" href="https://github.com/superhussain"></a>
      <a class="fa fa-behance" href="https://www.behance.net/superhussain"></a>
    </div>
  </div>
</div>
