<div class="tab-pane portfolio-tab" id="portfolio">
  <div class="heading">
    <h4><i class="fa fa-briefcase"></i> Portfolio</h4>
    <hr>
  </div>
  <div class="list">
    <div class="view view-first">
      <a href="http://keyhole.co">
      <img src="assets/img/keyhole.png" />
      <div class="mask">
        <h2>Keyhole.co</h2>
        <p>Real-time Hashtag Tracking and Social Analytics for Twitter and Instagram.</p>
      </div>
      </a>
    </div>
    <div class="view view-first">
      <a href="http://blockbusterstrivia.com">
      <img src="assets/img/blockbusters.png" />
      <div class="mask">
        <h2>BlockBusters Trivia</h2>
        <p>BlockBusters is an organization that hosts annual trivia competitions for Muslims during the holy month of Ramadan.</p>
      </div>
      </a>
    </div>
    <div class="view view-first">
      <a href="https://youngmuslimservice.com">
        <img src="assets/img/youngmuslimservice.png" />
        <div class="mask">
          <h2>Young Muslim Service</h2>
          <p>A platform for young muslims build their own identity through self-reflection.</p>
        </div>
      </a>
    </div>
    <div class="view view-first">
      <a href="https://boostedlabs.com">
        <img src="assets/img/boostedlabs.png" />
        <div class="mask">
          <h2>Boosted Labs</h2>
          <p>Toronto based Pre-Acceleration solution to get your business to the next level.</p>
        </div>
      </a>
    </div>
    <div class="view view-first">
      <a href="http://thebestcampever.ca">
      <img src="assets/img/ymaa.png" />
      <div class="mask">
        <h2>Camp YMAA</h2>
        <p>A camp for juniors which promotes a balanced, healthy lifestyle!</p>
      </div>
      </a>
    </div>
    <div class="view view-first">
      <a href="http://nonowhere.com">
      <img src="assets/img/nonowhere.png" />
      <div class="mask">
        <h2>NoNoWhere</h2>
        <p>A platform to help less fortunate people find a direction.</p>
      </div>
      </a>
    </div>
    <div class="view view-first">
      <a href="http://nothinbutchange.com">
      <img src="assets/img/nothinbutchange.png" />
      <div class="mask">
        <h2>Nothin' but Change</h2>
        <p>Homelessness awareness organization started by three students.</p>
      </div>
      </a>
    </div>
    <div class="view view-first">
      <a href="http://akflorals.com">
      <img src="assets/img/akflorals.png" />
      <div class="mask">
        <h2>Amazing Kreations</h2>
        <p>From stunning bouquets and boutonnieres to elegant house decor and reception centrepieces.</p>
      </div>
      </a>
    </div>
    <!--<div class="view view-first">
      <a href="http://arios.ca">
      <img src="assets/img/arios.png" />
      <div class="mask">
        <h2>Arios YouTube Network</h2>
        <p>YouTube Network created for YouTubers, by YouTubers.</p>
      </div>
      </a>
    </div>-->
    <!--<div class="view view-first">
      <a href="http://aplustoners.com">
      <img src="assets/img/apt.png" />
      <div class="mask">
        <h2>A+ Toners.com</h2>
        <p>E-commerce site for buying printer cartridges.</p>
      </div>
      </a>
    </div>-->
    <div class="view view-first">
      <a href="http://hussainabbas.com/plexxis">
      <img src="assets/img/plex.png" />
      <div class="mask">
        <h2>Employee Directory</h2>
        <p>Staff directory built using Topcoat and Backbonejs.</p>
      </div>
      </a>
    </div>
    <!--<div class="view view-first">
      <a href="http://bl4ck0ut.com">
      <img src="assets/img/b0.png" />
      <div class="mask">
        <h2>Bl4ck0ut Project</h2>
        <p>Custom firmware for older iDevices to bring back speed and functionality.</p>
      </div>
      </a>
    </div>
    <div class="view view-first">
      <a href="http://yorku.thaqalayn.org">
      <img src="assets/img/tma.png" />
      <div class="mask">
        <h2>TMA @ YorkU</h2>
        <p>Student Group Website designed on WordPress.</p>
      </div>
      </a>
    </div>-->
  </div>
</div>
