@media (max-width: 700px)
  .container
    margin: 30px auto
    width: auto
    height: auto
    box-shadow: none
    clear: both
  .sidebar
    position: relative
    width: 90%
    height: auto
    margin: 0 auto
    display: table
    //background-color: #fff
    .avatar
      display: inline-block
      width: 45%
      float: left
      overflow: hidden
      margin-bottom: -3px
      img
        width: 100%
    .navbar
      float: right
      display: inline-block
      width: 55%
      position: absolute
      height: 100%
      .item, .active
        font-size: 1em
        &:before
          content: ''
          margin: 0
      li
        padding: 10px 90% 8px 10%
        width: 0%
        border-top: none
  .tab-content
    position: relative
    //overflow: auto
    margin-left: 0px
    padding: 5% 5% 5% 5%
    width: 80%
    margin: 0 auto

    &:before, &:after
      content: ' '
      display: table
    &:after
      clear: both

    .tab-pane
      position: absolute
      width: 88%

  .tab-content > .tab-pane, .pill-content > .pill-pane
    opacity: 0
    pointer-events: none
    transform: translate(0, -200px)
    transition: all 500ms cubic-bezier(0.15, 0.25, 0, 1.48)

  .tab-content > .active, .pill-content > .active
    opacity: 1
    transform: translate(0,0)
    pointer-events: all

@media (max-width: 535px)
  .sidebar
    .avatar
      width: 50%
    .navbar
      width: 50%
  .tab-content
    font-size: 0.76em

@media (max-width: 400px)
  .sidebar
    .navbar
      position: initial
