@media (max-width: 700px)
  .container
    margin: 30px auto
    width: auto
    height: auto
    box-shadow: none
  .sidebar
    position: relative
    width: 90%
    height: auto
    margin: 0 auto
    display: table
    background-color: #fff
    .avatar
      display: inline-block
      width: 45%
      float: left
      overflow: hidden
      margin-bottom: -3px
      img
        width: 100%
    .navbar
      float: right
      display: inline-block
      width: 55%
      li
        padding: 8px 90% 8px 10%
        width: 0%
        border-top: none
        border-bottom: 1px solid #ddd
  .tab-content
    position: relative
    overflow: auto
    margin-left: 0px
    padding: 5%
    width: 80%
    margin: 0 auto
    height: auto
    min-height: 0px

@media (max-width: 535px)
  .sidebar
    .avatar
      width: 65%
    .navbar
      width: 35%
