.sidebar
  width: 200px
  margin-top: -10px
  background-color: #0E142C
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3)
  z-index: 2
  position: fixed

  .avatar
    margin-bottom: -3px
    img
      width: 200px

.navbar
  a
    text-decoration: none
  list-style: none
  #height: 246px
  overflow: hidden
  background: white
  .item
    #height: 49.3px
    font-family: "munro_small"
    font-size: 1.3em
    padding: 10px
    padding-left: 30px
    display: block
    border-top: 1px solid #ddd
    color: #4e2574
    &:hover
      background-color: #aea8d3
  li.active
    background-color: #4e2574
    color: #fff
