/*FONTS*/

@font-face {
    font-family: 'munroregular';
    src: url('../fonts/munro-webfont.eot');
    src: url('../fonts/munro-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/munro-webfont.woff') format('woff'), url('../fonts/munro-webfont.ttf') format('truetype'), url('../fonts/munro-webfont.svg#munroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'munro_narrow';
    src: url('../fonts/munronarrow-webfont.eot');
    src: url('../fonts/munronarrow-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/munronarrow-webfont.woff') format('woff'), url('../fonts/munronarrow-webfont.ttf') format('truetype'), url('../fonts/munronarrow-webfont.svg#munro_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'munro_small';
    src: url('../fonts/munrosmall-webfont.eot');
    src: url('../fonts/munrosmall-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/munrosmall-webfont.woff') format('woff'), url('../fonts/munrosmall-webfont.ttf') format('truetype'), url('../fonts/munrosmall-webfont.svg#munro_smallregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700);
* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: "munroregular";
    background-image: url("../img/header-bg.jpg");
    background-color: #000;
    #background-color: #4e2574;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.container {
    width: 660px;
    height: 450px;
    margin: 10vh auto 30px auto;
    position: relative;
    #box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
}

.avatar {
    margin-bottom: -3px;
}

.avatar img {
    width: 200px;
}

.sidebar {
    width: 200px;
    margin-top: -10px;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    z-index: 2;
    position: fixed;
}

.navbar a {
    text-decoration: none;
}

.navbar {
    list-style: none;
    #height: 246px;
    overflow: hidden;
}

.navbar .item {
    #height: 49.3px;
    font-family: "munro_small";
    font-size: 20px;
    padding: 10px;
    padding-left: 30px;
    display: block;
    border-top: 1px solid #ddd;
    color: #4e2574;
}

.navbar .item:hover {
    background-color: #aea8d3;
}

.navbar li.active {
    background-color: #4e2574;
    color: #fff;
}

.tab-content {
    width: 400px;
    min-height: 315px;
    position: absolute;
    margin-left: 200px;
    background-color: #f5f5f5;
    padding: 30px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.home-tab .head {
    font-family: "Press Start 2P";
    font-size: 26px;
    color: #4e2574;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
}

.home-tab .subhead {
    font-family: "munro_small";
    font-size: 24px;
    color: #aea8d3;
    text-align: center;
    margin-bottom: 15px;
}

.home-tab hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.home-tab p {
    font-family: "munroregular";
    color: #666;
    margin-bottom: 15px;
}

.home-tab p em {
    font-style: normal;
    font-weight: 600;
    color: crimson;
}

#quotes {
    color: #aaa;
    text-align: center;
    font-size: 13px;
}

.shrooms {
    width: 70px;
    height: 20px;
    margin: 15px auto;
    display: block;
}

.shrooms img {
    width: 20px;
    margin: 0 auto;
    opacity: 0.5;
    cursor: pointer;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
}

.shrooms img:hover {
    opacity: 1.0;
}

.profile-tab .wrap {
    margin-bottom: 15px;
}

.profile-tab h4 {
    font-family: 'munro_small';
    font-size: 24px;
    color: #4e2574;
}

.profile-tab h4 i {
    font-size: 16px;
    color: #aea8d3;
}

.profile-tab p {
    font-size: 14px;
    line-height: 1.5;
}

.profile-tab hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 5px 0px;
    padding: 0;
}

.portfolio-tab h4 {
    font-family: 'munro_small';
    font-size: 30px;
    color: #4e2574;
}

.portfolio-tab h4 i {
    font-size: 22px;
    color: #aea8d3;
}

.portfolio-tab hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 5px 0px 15px 0px;
    padding: 0;
}

.playground-tab h4 {
    font-family: 'munro_small';
    font-size: 30px;
    color: #4e2574;
}

.playground-tab h4 i {
    font-size: 22px;
    color: #aea8d3;
}

.playground-tab hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 5px 0px 15px 0px;
    padding: 0;
}

.contact-tab h3 {
    font-family: 'munro_small';
    font-size: 24px;
    color: #4e2574;
}

.contact-tab p i {
    font-size: 14px;
}

.contact-tab p {
    font-size: 14px;
    line-height: 1.5;
}

.contact-tab hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 5px 0px;
    padding: 0;
}

.contact-tab .contact-wrap {
    margin-bottom: 15px;
}

.contact-tab .social-wrap {
    padding-bottom: 75px;
}

.col {
    display: inline-block;
    width: 50%;
    float: left;
}

.row {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-around;
}

footer {
    font-family: 'Roboto', sans-serif;
    color: #aea8d3;
    text-align: center;
    padding-bottom: 30px;
    display: block;
    width: 100%;
    margin: 0 auto;
    bottom: 0px;
}

footer h3 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 100;
    display: inline-block;
    letter-spacing: 4px;
    margin-top: 5px;
}

footer a {
    color: #fff;
    text-decoration: none
}

footer a:hover {
    color: #aea8d3;
}

@media (max-width: 700px) {
    .container {
        margin: 30px auto;
        width: auto;
        height: auto;
        box-shadow: none;
    }
    .sidebar {
        position: relative;
        width: 90%;
        height: auto;
        margin: 0 auto;
        display: table;
        border: 0px;
        #border: 1px solid #eee;
        background-color: #fff;
    }
    .avatar {
        display: inline-block;
        width: 45%;
        float: left;
        overflow: hidden;
        margin-bottom: -3px;
    }
    .avatar img {
        width: 100%;
    }
    .navbar {
        float: right;
        display: inline-block;
        width: 55%;
    }
    .navbar .item {
        padding: 8px 90% 8px 10%;
        width: 0%;
        background-color: #fff;
        border-top: none;
        border-bottom: 1px solid #ddd;
    }
    .tab-content {
        position: relative;
        margin-left: 0px;
        padding: 5%;
        width: 80%;
        margin: 0 auto;
        height: auto;
        min-height: 0px;
    }
}

@media (max-width: 499px) {
    .sidebar {
        background-color: #0e142c;
    }
}


/*img hover effect*/

.view {
    width: 160px;
    height: 120px;
    margin: 5px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px #e6e6e6;
    -moz-box-shadow: 1px 1px 2px #e6e6e6;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../img/bgimg.jpg) no-repeat center center;
}

.view .mask,
.view .content {
    width: 160px;
    height: 120px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view img {
    width: 160px;
    display: block;
    position: relative;
}

.view h2 {
    font-family: "munro_small";
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 15px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.8);
    margin: 10px 0 0 0;
}

.view p {
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 5px 5px 5px;
    text-align: center;
}

.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 12px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    -webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
    box-shadow: 0 0 1px #000;
}

.view a.info: hover {
    -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

.view-first img {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.view-first .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background-color: rgba(103, 65, 114, 0.7);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.view-first h2 {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.view-first p {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.view-first:hover img {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.view-first a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.view-first:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

.view-first:hover p {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.view-first:hover a.info {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}


/* Links */

.tab-content a {
    text-decoration: none;
    color: #a775d6;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -o-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}

.tab-content a span {
    display: block;
    position: relative;
    padding: 0 2px;
    text-align: center;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.tab-content a:hover span {
    background: #a775d6;
    -webkit-transform: translate3d( 0px, 0px, -30px) rotateX( 90deg);
    -moz-transform: translate3d( 0px, 0px, -30px) rotateX( 90deg);
    -o-transform: translate3d( 0px, 0px, -30px) rotateX( 90deg);
    -ms-transform: translate3d( 0px, 0px, -30px) rotateX( 90deg);
    transform: translate3d( 0px, 0px, -30px) rotateX( 90deg);
}

.tab-content a span:after {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 2px;
    color: #fff;
    background: #a775d6;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: translate3d( 0px, 105%, 0px) rotateX( -90deg);
    -moz-transform: translate3d( 0px, 105%, 0px) rotateX( -90deg);
    -o-transform: translate3d( 0px, 105%, 0px) rotateX( -90deg);
    -ms-transform: translate3d( 0px, 105%, 0px) rotateX( -90deg);
    transform: translate3d( 0px, 105%, 0px) rotateX( -90deg);
}
