---
layout: page
---
  <h1>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
    <i class="fa fa-rss-square"></i></a> Blog
  </h1>

  <hr>

  <div class="post-list">
    {% for post in site.posts limit:9 %}
      <div class="post" onclick="location.href='{{ post.url | prepend: site.baseurl }}';">
        <div class="post-img-wrap">
          <img src="/img/post/cover/{{post.cover}}" />
        </div>
        <div class="post-info">
          <h2>{{ post.title }}</h2>
          <p class="post-date">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
          <p class="post-description">{{ post.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
