<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <div class="clouds">
    <img class="cloud1" src="/assets/img/clouds/1.png">
    <img class="cloud2" src="/assets/img/clouds/2.png">
    <img class="cloud3" src="/assets/img/clouds/3.png">
    <img class="cloud4" src="/assets/img/clouds/4.png">
  </div>
  <div class="container">
    {% include sidebar.html %}
    <div class="tab-content clearfix">
      {% include tab-home.html %}
      {% include tab-profile.html %}
      {% include tab-portfolio.html %}
      {% include tab-playground.html %}
      {% include tab-contact.html %}
      {{ content }}
    </div>
  </div>
  {% include footer.html %}

  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/scripts.js"></script>
  <script src="assets/js/tabs.js"></script>
  <script>
    $('#myTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
      $("li.item").removeClass("active");
      $(this).children().addClass("active");
    })
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-66829415-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
